.logo {
	justify-self: start;
	display: block;
	max-inline-size: 100px;
	max-block-size: 50px;
	margin-block: auto;

	.wrapper {
		display: flex;
		gap: 0.3rem;
		img {
			inline-size: 100%;
			block-size: 100%;
		}
		span {
			color: rgb(140, 140, 140);
			margin-block: auto;
			font-size: 18px;
		}
	}
}
