.section {
	display: flex;
	justify-content: center;
	gap: 4rem;
	padding: 2rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 5px 5px 10px #ccc;
	inline-size: 100%;
	color: #ccc;
	font-weight: 500;
	line-height: 115%;
	word-spacing: 0.5rem;

	p {
		max-inline-size: 300px;
	}
}
