.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: rgba(141, 141, 141);

	h2 {
		font-size: 1.2rem;
		text-align: center;
	}

	input {
		background-color: transparent;
		max-block-size: 1rem;
		color: rgba(141, 141, 141, 0.8);

		&::placeholder {
			color: rgba(141, 141, 141, 0.4);
		}
		&:focus::placeholder {
			color: transparent;
		}
	}
	button {
		color: rgba(141, 141, 141, 0.8);
		background-color: transparent;
		border: 1px solid #ccc;
		border-radius: 0.5rem;
	}

	h3 {
		font-size: 0.8rem;
		text-align: center;
		span {
			color: rgb(60, 83, 255);
			margin-inline-start: 0.3rem;
		}
	}
}
